
#
# Starts the enlightenment wm/compositor
#

[Unit]
Description=Enlightenment WM/Compositor
Before=core-efl.target
After=xorg.target

[Service]
ExecStart=/usr/bin/enlightenment_start

[Install]
WantedBy=tizen-mobile.target
